:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
}

input {
  border: none;
  outline: none;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding: 20px;
}